/* Custom Properites */

  :root {
    --accent: #5158e2;
    --accent-hover: #6d73ec;
    --background-dark: #4a4a4a;
    --background-light: #f5f5f5;
    --form-text-light: #5e5e5e;
    --form-background-hover: #ebebeb;
    font-size: 62.5%;
  }

/* General Styles */

  * {
    box-sizing: border-box;
  }

  a, li {
    text-decoration: none;
  }

  body, html, #root {
    height: 100%;
  }

  body {
    margin: 0;
  }

  form {
    width: 75%;
    background-color: white;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  html, textarea {
    font-family: "Roboto", sans-serif;
  }

  textarea {
    border-radius: 3px;
  }

  .text-primary {
    font-size: 1.7rem;
  }


/* Utilities */

  .fade-in-sidebar-sublink {
    visibility: visible;
    overflow-y: hidden;
    max-height: 100px;
    transition: linear 0.15s;
  }

  .fade-out-sidebar-sublink {
    max-height: 0px;
    visibility: hidden;
    transition: linear 0.15s;
  }

  .loading {
    position: relative;
    top: 50%;
    left: 48%;
  }

  .fade-in-component {
    opacity: 1;
    animation-name: fadeInComponentOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 200ms;
  }

  @keyframes fadeInComponentOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* avoid selecting text on press on mobile devices */
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .rotate {
    transform: rotate(90deg);
  }

  .rotate-backwards {
    transform: rotate(-90deg);
  }

  /* blue accent for coloring icons */
  .accent {
    filter: invert(39%) sepia(51%) saturate(5465%) hue-rotate(227deg)
      brightness(91%) contrast(94%);
  }

  /* color hamburger icon in mobile view */
  .hamburger {
    filter: invert(31%) sepia(1%) saturate(2035%) hue-rotate(327deg) brightness(95%) contrast(99%);
    display: none;
  }

  /* Snackbar */
  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    background-color: rgb(75, 75, 75); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 16px; /* 30px from the bottom */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
  }

  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadeInSnackBar 0.5s, fadeOutSnackBar 0.5s 2.5s;
    animation: fadeInSnackBar 0.5s, fadeOutSnackBar 0.5s 2.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadeInSnackBar {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 16px;
      opacity: 1;
    }
  }

  @keyframes fadeInSnackBar {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 16px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeOutSnackBar {
    from {
      bottom: 16px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeOutSnackBar {
    from {
      bottom: 16px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }


/* High Level Layout */

.flex-container {
  display: flex;
  min-height: 100%;
}

.nav-container {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  display: block;
  z-index: 4;
}

.left-container {
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 3;
}

.right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--background-light);
  margin-left: 200px;
}

/* Left Sidebar */

  .sidebar-home-link {
    margin-left: 13px;
  }

  .sidebar-icon {
    width: 8px;
    height: 12px;
    margin-right: 5px;
    transition: transform 200ms;
  }
  .sidebar-icon-container {
    text-align: center;
    margin-bottom: 10px;
  }

  .sidebar-links-container {
    padding-left: 10px;
  }

  .sidebar-non-dropdown-link {
    padding-left: 14px;
  }

  .sidebar-primary-links {
    padding: 5px;
    font-size: 1.5rem;
    width: fit-content;
    display: flex;
    align-items: center;
  }

  .sidebar-primary-links:hover,
  .sidebar-sublink:hover {
    background: rgb(90, 90, 90);
    border-radius: 5px;
  }

  .sidebar-sublink {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
  }

  .sidebar-sublink-container {
    margin-left: 20px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 5px;
    width: fit-content;
  }
  .sidebar-text {
    color: white;
    display: flex;
    align-content: center;
  }

  .sidebar-text:hover {
    cursor: pointer;
  }


/* Form */

  .btn-form {
    height: 50px;
    border: none;
    background-color: var(--accent);
    color: white;
    width: 100%;
  }

  .btn-form:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
  }

  .form-select-arrow {
    color: var(--form-text-light);
  }

  .form-select-container-left {
    flex: 1;
  }

  .form-select-parent {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 16px;
  }

  .form-select-parent:hover {
    background-color: var(--form-background-hover);
    cursor: pointer;
  }

  .form-select-subtext {
    color: var(--form-text-light);
    font-size: 1.2rem;
    margin-top: 5px;
  }

  /* .right-container-home {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--background-dark);
    margin-left: 0px;
  } */



/* Top Navigation Bar */

  .nav-child-div {
    flex: 1;
    align-items: center;
  }

  .nav-child-right {
    /* flex: 1; */
    display: flex;
    padding-right: 210px;
    padding-left: 10px;
  }

  .header-right-nav{
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
  }

  .header-link {
    color: var(--background-dark);
    padding: 5px;
    align-self: flex-end;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
  }



.content {
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 100px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
}

.content-registration {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.content-home {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.content-title {
  font-size: 2.4rem;
  border-bottom: 1px solid var(--accent);
  width: fit-content;
  padding-bottom: 5px;
  margin-bottom: 20px;
}



.fim-wrapper {
  padding: 20px;
}


/* MODAL */

  .btn-modal {
    flex: 1;
    color: var(--accent);
    width: auto;
    padding: 10px;
    text-align: center;
    background: white;
    font-size: 1.6rem;
    border: 0;
    border-radius: 3px;
  }

  .btn-modal:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
  }

  .modal-btn-container {
    display: flex;
    justify-content: center;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin-top: 70px; /* 15% from the top and centered */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 3px;
  }

  .modal-option {
    padding: 15px 40px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    color: black;
    
  }

  .modal-option-hover:hover {
    background-color: rgb(235, 235, 235);
  }

  .modal-option-selected {
    background-color: var(--accent);
    color: white;
  }



  .modal-title {
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-size: 1.8rem;
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
  }




 

  .input-number-containter {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .modal-number-input {
    width: 50px;
    padding: 10px;
    font-size: 1.8rem;
  }

  .modal-narrative {
    width: 500px;
    padding: 16px;
  }

  .narrative_blurb {
    width: 75%;
    padding: 15px;
    background: white;
    margin-top: 20px;
    margin-bottom: 50px;
  }

/* My Notes */

  .btn-note {
    background: var(--accent);
    color: white;
    padding: 5px;
    margin-right: 5px;
    border: 0;
    border-radius: 3px;
  }

  .btn-note:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
  }
  .all-notes-container {
    padding: 20px;
  }
  .note-container {
    width: 75%;
    margin-bottom: 20px;
  }
  .note-title {
    font-weight: bold;
  }




/* New Note */

  .float {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    bottom: 16px;
    right: 16px;
    background: var(--accent);
    height: 56px;
    width: 56px;
    color: white;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    font-size: 2.8rem;
  }
  .float:hover {
    cursor: pointer;
    background: var(--accent-hover);
  }
  .note-textarea {
    padding: 8px;
  }

  .new-note-form{
    width: 500px;
    padding: 0px;
    border-radius: 3px;
  }

  .new-note-container {
    padding: 16px;
  }

  .new-note-div {
    margin-bottom: 100px;
  }

  .new-note-input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .new-note-title {
    margin-bottom: 10px;
  }
  .new-note-body {
  
    width: 100%;
    padding: 8px;
  }

/* Authentication */

  .right-container-registration {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--background-dark);
    margin-left: 0px;
  }
  .registration-form {
    width: 336px;
    padding: 16px;
    border-radius: 3px;
  }
  .registration-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .registration-div {
    margin-top: 0;
    margin-bottom: 0;
  }

  .registration-title {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 20px;
  }

  .btn-registration {
    margin-top: 20px;
  }

  .registration-sidebar {
    margin-right: 100px;
    color: white;
    font-size: 2.8rem;
  }

  .registration-sidebar li {
    font-size: 2.4rem;
  }

  .registration-back {
    font-size: 1.4rem;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .registration-error {
    color: red;
    font-size: 1.2rem;
    margin-top: 2px;
    margin-bottom: 3px;
    visibility: hidden;
  }

  .register-content-container {
    display: flex;
    align-items: center;
  }

  .login-create-account {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
  }



/* Home */

  .home-icon-image{
    width: 100px;
  }

  .home-title {
    font-size: 6.8rem;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .home-subtitle {
    font-size: 2.8rem;
    word-spacing: 5px;
    line-height: 40px;
  }

  .home-container {
    display: flex;
  }

  .home-div-left {
    flex: 0.7;
  }

  .home-icon-container {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-icon {
    align-self: center;
  }



.header-link:hover {
  background-color: var(--background-light);
}

.hamburger {
  width: 20px;
  transition: transform 200ms;
}

.user-icon {
  width: 40px;
  /* margin-top: 3px; */
}

.user-icon:hover {
  cursor: pointer;
}



/* Dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    font-size: 1.3rem;
    top: 42px;
    right: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 3px;
  }

  .dropdown-content a {
    color: var(--background-dark);
    background: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background: var(--background-light);
  }



@media only screen and (max-width: 900px) {
  
  /* Layout */
    .left-container {
      display: none;
      padding-top: 70px;
    }

    .right-container {
      margin-left: 0;
    }

    .note-container {
      width: 100%;
    }

  /* Top Navigation Bar */

    .nav-child-right {
      padding-right: 0;
    }

    .header-right-nav {
      margin-right: 16px;
    }

    .nav-container {
      display: flex;
    }
  
    .nav-child-left {
      align-self: center;
    }

    .mobile-nav{
      display: block;
      width: 100%;
    }

  /* Modal */
    .modal-content {
      margin-left: 20px;
      margin-right: 20px;
      width: auto;
    }

    .modal-option {
      text-align: center;
    }

    .modal-narrative {
      width: fit-content;
    }

  /* Form */
    .new-note-form {
      width: 100%;
    }

    form {
      width: 100%;
    }

  /* Utilities */
    .hamburger {
      display: flex;
      margin-left: 16px;
    }

    .hamburger:hover {
      cursor: pointer;
    }

  /* Left Sidebar */
    .sidebar-text {
      font-size: 2.4rem;
    }
    .sidebar-sublink {
      font-size:2.0rem;
    }
    .sidebar-icon-container{
      display: none;
    }
    .sidebar-icon{
      height: 16px;
      width: 12px;
    }
  
    .sidebar-links-container {
    padding-left: 18px;
    }
  

  .content-title {
    margin: 10px;
    padding: 0px;
  }

  .content {
    padding: 0px;
    margin-bottom: 0px;
  }

  /* Home */
    .home-container {
      flex-direction: column-reverse;
    }

    .home-div-left {
      padding: 16px;
    }

    .home-title{
      margin-top: 0px;
      font-size: 4.8rem;
    }

    .home-subtitle {
      font-size: 2.2rem;
    }

    .home-icon-image{
      width: 50px;
      margin-top: 16px;
    }

  /* Authentication */
    .register-content-container {
      display: flex;
      flex-direction: column-reverse;
    }

    .registration-sidebar{
      margin-right: 0px;
    }
}
