html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.flex-container {
  display: flex;
  min-height: 100%;
}

.left-container {
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 200px;
}

.sidebar-links-container {
  padding-left: 20px;
}

.left-container a {
  text-decoration: none;
  color: rgb(184, 184, 184);
}

.right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #e5e5e5;
}

.nav-container {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  /* margin-left: 200px; */
}

.nav-child-div {
  flex: 1;
  align-items: center;
}

.nav-child-right {
  /* flex: 1; */
  padding-right: 210px;
  padding-left: 10px;
}

.side-bar-text {
  color: white;
}

.side-bar-text:hover {
  cursor: pointer;
}

.sidebar-sublink {
  padding-left: 10px;
}

.sidebar-links {
  padding-top: 5px;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.content {
  margin-top: 70px;
  margin-left: 20px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
}


form {
  width: 75%;
  padding: 15px;
  background-color: white;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;


}

.fim-wrapper {
  padding: 20px;
}

.btn-form {
  height: 50px;
  border: none;
  background-color: #5158e2;
  color: white;
}

.btn-form:hover {
  cursor: pointer;
  background-color: #6d73ec;
}

.form-select-container-left {
  flex: 1;
}

.form-select-subtext {
  color: black;
  opacity: 87%;
  font-size: 12px;
  margin-top: 5px;
}

.form-select-arrow {
  color: black;
  opacity: 87%;
}

.form-select-parent {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
}

.form-select-parent:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

/* MODAL */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  width: fit-content;
}

.modal-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 20px 0 10px 0;
}

.modal-option {
    padding: 15px 40px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.modal-option-selected {
    background-color: #5158e2;
    color: white;
}

.modal-option-hover:hover {
    background-color: rgb(235, 235, 235);
}

.modal-btn-container {
    display: flex;
    justify-content: center;
}
.btn-modal {
    flex: 1;
    color: #5158e2;
    width: auto;
    padding: 10px;
    text-align: center;
}

.btn-modal:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.fadeIn {
    visibility: visible;
    overflow-y: hidden;
    max-height: 100px;
    transition:  linear .15s;
}

.fadedOut {
    max-height: 0px;
    visibility: hidden;
    transition:  linear .15s;
}
