/* Tags */
html, body, #root, .App, .container {
  height: 100%;
}

body{
    margin: 0;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 0;
    padding: 0;
    margin-bottom: 2rem;
    align-items: center;
}

form {
    grid-column: 3/6;
}

html{
    font-size: 62.5%;
}

label{
    font-size: 1.5rem;
}
li a {
    display: block;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

li a:hover{
    background-color: rgb(205, 225, 241);
}

nav {
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    height: 100%;
    background-color: aliceblue;
}

select {
    width: 100%;
    padding: .5rem;
}

select:hover{
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

/* Classes */
.btn-copy{
    border-radius: .7rem;
    padding: 1rem;
    width: 6rem;
    border: 0px;
    background: #0088ff;
    color: white;
}
.btn-form {
    border-radius: 7px;
    padding: 10px;
    width: 200px;
    border: 0px;
    background: #0088ff;
    color: white;
}

.btn-form:hover, .btn-copy:hover{
    cursor: pointer;
    background: rgb(0, 104, 240);
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
}

.delete-btn{
    display: inline-block;
}

.div-copy-btn {
    grid-column-start: 2;
    display: flex;
    justify-content: flex-end;
}

.div-select {
    grid-column: 3;
    align-items: center;
    padding: .5rem;
}


.div-submit-btn {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
}

.form-label {
    grid-column: 2;
}

.header{
    grid-column: 1 / 8;
    grid-row: 1 / 1;
    background-color: #3498f0;
}

.input{
    margin: .5rem;
}

.narrative_blurb {
    grid-column: 2/6;
    width: 100%;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    
}

.new-note-form{
    display: block;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.new-note-form form{
    padding: 1rem;
}

.new-note-title label, .new-note-body label{
    display: block;
    padding: 1rem 0 .5rem 0;
    font-weight: bold;
}

.new-note-title input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .25rem;
}

.new-note-body {
    width: 100%;
}

.new-note-form{
    border: 1px solid black;
}

.new-note-body textarea {
    display: block;
    width: inherit;
    margin-bottom: 2rem;
}

.note-container{
    grid-column: 2 / 5;
    padding: 2rem;
}
.note-textarea{
    border: .1rem solid grey;
    padding: .5rem;
    width: 100%;
    resize: none;
}

.note-title{
    margin-bottom: .25rem;
    font-size: 1.5rem;
}

.right-sidebar{
    grid-column-start: 6;
    grid-row: 2 / 7;
    border-left: 1px solid grey;
}


.vitals-label{
    display: block;
    padding: 1rem 0 .5rem 0;
    text-align: center;
    font-size: 1.25rem;
}

.vitals-input{
    display: block;
    width: 7rem;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 2 / 6;

}

/* IDs */

